/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* *******HEADER****** */

.page {
	overflow: hidden;
}
.header{
	background-color: #ededed;
	padding:15px;
}


a{
	text-decoration: none;
}

.link{
	display: inline-block;
	margin-top: 0.5%;
	margin-right: 4%;
}

.link a{
	border-right: 1px solid black;
	padding-right:7px; 
	margin-right: 3px;
	color: #9f9f9f;
}

.link a:last-child{
	border: none;
}

.linktext a:hover,
.link a:hover{
	color: red;
}

.button-search{
	display: inline-block;
	color:  #ededed;
	margin: 0% 0% -10% -12%;
	font-size: 20px;
	vertical-align: text-top;
	cursor: pointer;
	
}

.button-search:hover{
	color: black;

}

.search{
	display: inline-block;
}

.search input[type=text]{
	padding: 7px 12px 7px 5px;
	border: 1px solid #ebebeb;
    border-radius: 14px;
}

.block{
	display: flex;
	justify-content: flex-end;
}

/* ***** TITLE***** */


.content{
	margin: 3% 5% 0% 3% ;
}

h1{
	font-size: 45px;
}

h2{
	color: #9f9f9f;
}

.title{
	display: inline-block;
	width: 200px;
	float: left;
}

.linksPage{
	display: flex;
    justify-content: flex-end;
    width: calc(100% - 200px);
}

.linktext{
	display: inline-block;
	padding: 0% 1%;
}

.linktext:last-child {
    padding-right: 0%;
}



.linktext p{
	color: #9f9f9f;
}


/* *****SLIDER***** */

.slick-list.draggable{
    width: 80%;
    margin: auto;
  }


.center{
	width: 70%;
	margin: auto;
	margin-top: 40px;
	height:330px;
	margin-bottom: 30px;
}
.draggable{
	height: 360px;
}

.slick-slide img{
	border: 10px solid #9E9E9E;
    border-radius: 182px;
    display: none;
    margin-top: 20px;
}



.slick-active img{
	width: 75%;
	display: block;
	opacity: 0.5;
	filter: grayscale(100%);

}


.slick-center img{
width: 120%;
    opacity: 1;
    filter: none;
    margin-top: 25px;
}

.slick-slide.slick-current.slick-active.slick-center {
    display: flex;
    justify-content: center;
}

.slick-arrow{
	border-radius: 20px;
}

/*  ***** TEXT PAGE **** */

.description{
	font-size: 25px;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    padding: 15px 100px;
box-shadow: 0px -14px 17px -21px rgba(0,0,0,0.75);

} 

.all-articles{
	margin: 30px 50px;
	    width: 113%;
    overflow: visible;
    font-size: 17px;
}

h3{
	font-size: 20px;
	display: block;
	margin-bottom: 20px;

}

.lastest-text{
	float: left;
	width: 25%;
	height: 420px;
}

span{
	display: block;
	color: red;
	cursor: pointer;
}

.article{
	float:left;
	width: 16%;
	margin-right: 5%;
	margin-bottom: 20px;
}

.imag{
	
	
	box-shadow: 0px 31px 30px -35px rgba(0,0,0,0.9);
}

.imag img{
	width: 100%;
}

.text-art {
	margin: 30px 0px 15px;
}

/* ***** *FOOTER* ***** */

.footer{
	clear: both;
	background-color:#ededed;
	display: flex;
	padding: 30px 20px;
}

.newsletter, .from{
	margin-right: 15px;
}

.footer h4{
	color: #6e6e6e;
	font-size: 20px;
}

.footer h5{
	color: #6e6e6e;
	font-size: 16px;
	padding: 15px 0px 3px 0px;
}

.footer h6{
	color: #6e6e6e;
	margin-bottom: 19px;
}

.footer span{
	float: right;
	margin-bottom: 2px;
}

.footer p{
	padding: 15px 0px;
}

.newsletter .pharagraph{
	padding-top: 15px;
}

.button{
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
	display: inline-block;
	color: black;
	border:1px solid #d7dada; 
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 font-size:12px;
	 font-family:arial, helvetica, sans-serif; 
	 padding: 12px 10px; 
	 text-decoration:none; 
	 display:inline-block;
	 font-weight:bold;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.button:hover{
 border:1px solid #bfc4c4;
 background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
 background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}

.two{
	color: red;
	margin-left: 30px;
	padding: 12px 20px;
}

.ic img{
	width: 50px;
}
.ic{
	width: 50%;
	float: left;
}

.social-icon{
	display: inline-block;

}

@media only screen and (max-width: 1248px){
.slick-dotted.slick-slider {
    margin-bottom: 70px;
}
}

@media only screen and (max-width: 1148px){
.slick-dots{
	bottom: 0%;
}
.slick-dotted.slick-slider {
    margin-bottom: 7px;
}
}

@media only screen and (max-width: 1080px){
.slick-dots{
	bottom: 5%;
}
}

@media only screen and (max-width: 982px){
.slick-dots{
	bottom: 20%;
}

.slick-dotted.slick-slider {
    margin-bottom: -37px;
}
}

@media only screen and (max-width: 880px){
.slick-dots{
	bottom: 27%;
}
}

@media only screen and (max-width: 825px){
.description {
    margin-top: -70px;
}
}





@media only screen and (max-width: 580px){
.latest{
	display: none;
}
}
